 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	background-color: #fefdf0;
}


header{
	
}

footer{
	background-color: #FF6347;

 }


ul{
	list-style-type: none;

}




.logo{
	background-image: url(../img/logo-3.png);
	background-size: contain;
	background-repeat: no-repeat;
	
	height: 100px;

}

li{
	color: white;
}

a{
	color: white;
}


.nav-item{	
	color: white;
	display: inline-block;
}


.bouton1{
	margin-top: 50px;

}


.bouton2{
	margin-top: 10px;
}



.menu{
	background-color: #F88E55;


	
	
}


.banniere a{

background-color: #FFEBCD;
	
	color: #FF6347;
	
}


.navbar-default .navbar-nav>li>a{
	color: white;
}



.item{
	/*margin-right: 0;*/
	color: white;
	display: inline-block;
}

.item2{
	display: inline-block;
	padding-right: 20px;
	color: #FF6347;
	
}

h1{
	margin-left: 50px;
}
h2 {
	color: #66D9EF;
}
h3{
	color: #C73516;
	font-weight: bold;
}
.img-annonce{
	height: 200px;
	padding-left: 50px;
}
.img-avatar{
	width: 50px;
	height: 50px;
	padding-left: 20px;
}
a.annonce {
	color: #FF6347;
	font-size: 25px;
}
.navbar-default{
	border: none;


}

.navbar-default .navbar-brand{
	color: white;
}

@media screen and (min-width: 768px){
	.main-menu {
		text-align: center;

	}
	.main-menu li{
		width: 20%;
	}
}
@media screen and (min-width: 992px){
	.logo{
		background-image: url(../img/logo-2.png);
	}

	.item{
		margin-right: 500px;
	}

	.img-taille{
		width: 180px;
	}

	footer{
		
	}
	

	
}



.contenu{
	height: 1000px;
	background-color: #fefdf0;

}


main{
	margin-top: -50px;
}




.footer-nav a{
	color: white;
}


.img-taille{
	width: 50px;


}


.img-taille1{
	margin-left: 160px;
}


.align-center{
	margin-top: 20px;
	margin-left: 215px;
}


.bouton3{
	margin-left: px;
}

.news{
	text-align: center;
}


.bouton-news{
	margin-top: 30px;
}

.main-menu {
	width:40%;
	margin-right: 25px;
	margin-left: 200px;
}


.main-menu li a{
	padding: 15px 0;
}


.inscriptionUser-ajoutAnnonce {

		padding-top: 25px;
		padding-bottom: 25px;
		margin-bottom: 50px;
		margin-top: 50px; 
	    /*background-color: rgba(192,192,192,0.3);*/ 

}
.descript{
	margin-top: 200px;


    font-family: 'Open Sans', sans-serif;
}
 .sidebar {
 	margin-top: 9%;

 	padding: 20px;
 	border: 2px solid #FFDAB9;
    border-radius: 5px;
	
	background: #FEA347; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FEA347, #FFDAB9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FEA347, #FFDAB9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FEA347, #FFDAB9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FEA347, #FFDAB9); /* Standard syntax */
}


.fond{
	background-color: #FFDAB9;
	margin-bottom: 25px;
}
.inscript-icone{
	width: 150px;
	height: 150px;
	float: right;
}
.bouton-sinscrire{
	color: #fff;
	border-radius: 10px;
	border: 1px medium #FFDAB9;
	background-color: #DF6D14;
    background: linear-gradient( #DF6D14, #EF9B0F);
}	

.bouton-supp{
color: #fff;
	border-radius: 10px;
	border: 1px medium #F32F05;
	background-color: #DF6D14;
    background: linear-gradient( #DF6D14, #F32F05);

}

.bottom{
	margin-bottom: 25px;
}