
body{
	background-color: #fefdf0;
}



header{
	
}



footer{
	background-color: #F52F57;

	
}


ul{
	list-style-type: none;

}




.logo{
	background-image: url(../img/logo-3.png);
	background-size: contain;
	background-repeat: no-repeat;
	
	height: 120px;

}

li{
	color: white;
}

a{
	color: white;
}


.nav-item{	
	color: white;
	display: inline-block;
}


.bouton1{
	margin-top: 15px;
}




.menu{
	background-color: #F52F57;
	 



	
	
}


.banniere{
	background-color:#00BFFF;

	
	color: white;

}


.navbar-default .navbar-nav>li>a{
	color: white;
}



.item1{
	margin-right: 0;
	color: white;
	display: inline-block;
}

.item2{
	display: inline-block;
}


h2 {
	color: #66D9EF;
}
.img-annonce{
	height: 200px;
	padding-left: 50px;
}

.navbar-default{
	border: none;


}

.navbar-default .navbar-brand{
	color: white;
}
.accueil{
 	margin-left: 0;
 }
@media screen and (min-width: 768px){
	.main-menu {
		/*text-align: center;*/
	}
	.main-menu li{
		margin-right: 140px;
		/*padding-top: 20px;*/
	}
}
@media screen and (min-width: 992px){
	.logo{
		background-image: url(../img/logo-2.png);
	}


	.img-taille{
		width: 180px;
	}

	footer{
		
	}
 .accueil{
 	margin-left: 500px;
 }
	

	
}

.main-menu{
	float: right;
}

.contenu{
	height: 1000px;
	background-color: #fefdf0;

}


main{
	margin-top: -50px;
}


.footer-nav{
	
}


.footer-nav a{
	color: white;
}


.img-taille{
	width: 50px;


}


.img-taille1{
	margin-left: 160px;
}


.align-center{
	margin-top: 20px;
	margin-left: 215px;
}


.news{
	text-align: center;
}


.bouton-news{
	margin-top: 30px;
}

.main-menu {
	
}


.main-menu li a{
	padding: 15px 0;
}



.carousel-inner{
	width: 100%;
}


.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{

	width: 100%;
}


.gogo{
	
}


.gogo2{
	margin-top: 8px;
	margin-left: 50px;

}
li{
list-style-type: none;
} 